@tailwind base;
@tailwind components;
@tailwind utilities;

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Para Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  transform: scale(0.8);
}

@media (max-width: 1023px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper {
  margin-left: 0 !important;
}
